<div class="card">
  <div class="image">
    <img [src]="image" alt="image" />
    <div class="logo">
      <img [src]="logo" alt="logo" />
    </div>
  </div>
  <div class="body">
    <div class="body-heading">
      <div>
        <h1>{{ brand }} - {{ model }}</h1>
        <h5>{{ price | currency }}</h5>
      </div>
      <div class="icon-container">
        <i class="fa-solid fa-info"></i>
      </div>
    </div>
    <div class="body-data">
      <div class="data">
        <h5><i class="fa-solid fa-calendar"></i>{{ releaseYear }}</h5>
        <h5><i class="fa-solid fa-weight-hanging"></i>{{ weight }}lb</h5>
      </div>
      <p>{{ engineDescription | cardParagraph }}</p>
    </div>
  </div>
</div>
