@import "src/assets/styles/config";

.card {
  width: 300px;
  height: 400px;
  background-color: $lighter-color;

  .image {
    position: relative;
    height: 170px;
    padding: 20px 20px 5px 20px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .logo {
      position: absolute;
      top: 30px;
      left: 32px;
      width: auto;
      height: 45px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .body {
    padding: 5px 20px 20px 20px;

    .body-heading {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding-bottom: 15px;
      border-bottom: 1px solid lighten($lighter-color, 20%);

      h1 {
        @include interFont(white, 15px, 500);
        margin-bottom: 10px;
      }

      h5 {
        text-align: center;
        padding: 10px;
        background-color: #342547;
        border-radius: 20px;
        @include quicksandFont(#c89dff, 20px, 600);
      }

      .icon-container {
        width: 45px;
        height: 45px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #2b3650;
        color: #94b3fd;
      }
    }

    .body-data {
      padding-top: 15px;

      .data {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        h5 {
          @include interFont(white, 14px, 500);

          i {
            color: #94daff;
            margin-right: 10px;
          }
        }
      }

      p {
        @include interFont(white, 13px, 400);
      }
    }
  }
}
