<div id="page-container">
  <div id="accordions">
    <app-accordion title="American cars">
      <div class="cards-container">
        <app-card
          *ngFor="let car of americanCars"
          [image]="car.image"
          [logo]="car.logo"
          [brand]="car.brand"
          [model]="car.model"
          [price]="car.price"
          [releaseYear]="car.releaseYear"
          [weight]="car.weight"
          [engineDescription]="car.engineDescription"
        ></app-card>
      </div>
    </app-accordion>
    <app-accordion title="Japanese cars">
      <div class="cards-container">
        <app-card
          *ngFor="let car of japaneseCars"
          [image]="car.image"
          [logo]="car.logo"
          [brand]="car.brand"
          [model]="car.model"
          [price]="car.price"
          [releaseYear]="car.releaseYear"
          [weight]="car.weight"
          [engineDescription]="car.engineDescription"
        ></app-card>
      </div>
    </app-accordion>
    <app-accordion title="Germany cars">
      <div class="cards-container">
        <app-card
          *ngFor="let car of germanyCars"
          [image]="car.image"
          [logo]="car.logo"
          [brand]="car.brand"
          [model]="car.model"
          [price]="car.price"
          [releaseYear]="car.releaseYear"
          [weight]="car.weight"
          [engineDescription]="car.engineDescription"
        ></app-card>
      </div>
    </app-accordion>
  </div>
</div>
