@import "src/assets/styles/config";

#page-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  @include responsive($small) {
    padding: 20px;
  }

  #accordions {
    width: 90vw;

    @include responsive($small) {
      width: 100vw;
    }
  }

  .cards-container {
    padding-block: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
    justify-content: center;
    gap: 10px;
  }
}
