@import "src/assets/styles/config";

details {
  border: 2px solid $lighter-color;
  background-color: transparent;
  margin-bottom: 10px;
}

summary {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-block: 15px;
  padding-inline: 20px;
  cursor: pointer;
  @include transition;

  span {
    @include interFont(white, 15px, 500);
  }

  i {
    font-size: 20px;
    color: lighten($lighter-color, 10%);
    @include transition;

    &.rotate {
      transform: rotate(180deg);
    }
  }

  &:hover {
    background-color: lighten($background-color, 1%);
  }
}

.animate-entry {
  animation-name: fadeInDown;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  display: block;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 100%;
    display: block;
  }
}
