<details #details>
  <summary (click)="getMode(details.open)">
    <span>{{ title }}</span>
    <i [ngClass]="{ 'fa-solid fa-angle-up': true, 'rotate ': open }"></i>
  </summary>
  <div *ngIf="!open" [class.animate-entry]="!open">
    <ng-content></ng-content>
  </div>
</details>
